# 需求文档
```
* 前端-用户侧
  * 登录/注册/问数
    * 通过大模型提问，后台获得的数据范围来响应用户问题
      * 数据存储容器
        * 文本
        * 数据库
        * 向量库
* 后端-管理侧
  * 用户管理
  * 功能管理
  * 权限管理
  * 数字员工
    * 数据
    * 天气
    * 新闻
    * 音乐
    * 电影
  * 模型引擎
    * 动态
    * 本地-私有化模型：/远程-云端模型
    * token统计
    * 接口服务
    * 配置-流式响应
  * 瞭望管理
    * 瞭望源-动态管理/请求伪造技术应用
      * csrf ssrf
    * 采集数据-批量采集
  * 数据仓库
    * 非关系型数据进行存储
    * 关系型数据库进行存储
    * 向量库进行存储
  * 深度采集
  * 接口管理
  * 数智大屏
    * 平面炫酷
      * 报表组件
    * 数字孪生
      * 开发一个小型的3D web版游戏？？？
        * webgl-GPU
  * 系统设置
  * 系统统计
```
